name: portable-python-release-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*'

jobs:
  build:
    name: Create Release
    runs-on: windows-latest
    env:
      targetZip: windowsdesktop-runtime-6.0.4-win-x64-portable.zip
    steps:
    - name: download 
      shell: cmd
      run: | 
        curl https://download.visualstudio.microsoft.com/download/pr/f13d7b5c-608f-432b-b7ec-8fe84f4030a1/5e06998f9ce23c620b9d6bac2dae6c1d/windowsdesktop-runtime-6.0.4-win-x64.exe -L -O -J
        
    - name: install
      shell: cmd
      run: |
        windowsdesktop-runtime-6.0.4-win-x64.exe /install /quiet /norestart /log "%TEMP%\install-log.log"

    - name: read loh
      shell: cmd
      run: type %TEMP%\install-log.log
      
    - name: cd
      shell: cmd
      run: |
        cd /d "C:\ProgramData\Microsoft Windows Desktop Runtime\" &&^
        dir /s
      
      

#     - name: set PATH, check mingw version, cmake generate, build and install
#       shell: cmd
#       run: installer.exe /quiet TargetDir="${{ github.workspace }}\python-installation" InstallAllUsers=0 AssociateFiles=0 PrependPath=0 Include_tcltk=0 Include_test=0
      


        
